r:root {
    --azul: #086cf7;
    --rosa: #f8096e;
    --blanco: #fff;
    --negro: #111;
}

body {
    margin: 0;
    font-family: 'PixelFont', sans-serif;
    background: var(--rosa);
    color: #111;
    -webkit-font-smoothing: none;
    text-rendering: optimizeSpeed;
    background-image: url('Imagenes/fondo-pixel.png');
    background-repeat: repeat;
    background-size: 688px 1024px; /* Ajusta al tamaño real de tu tile pixelart */
}

h1 {
    text-align: center;
    margin: 20px 0;
    text-shadow: 3px 3px var(--rosa);
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.item {
    background: var(--blanco);
    border: 4px solid var(--negro);
    box-shadow: 4px 4px var(--rosa);
    padding: 15px;
    text-align: center;
}

.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 4px solid var(--azul);
    image-rendering: pixelated;
}

.item h3 {
    margin: 10px 0 5px;
}

.item p {
    font-weight: bold;
    color: var(--rosa);
}

button, select {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--negro);
    background: var(--blanco);
    color: var(--negro);
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

button:hover {
    background: var(--rosa);
}

#carrito {
    margin: 30px 20px;
    background: var(--blanco);
    padding: 15px;
    border: 4px solid var(--negro);
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid var(--rosa);
}

.carrito-item button {
    background: var(--rosa);
    border: none;
    padding: 3px 8px;
    color: var(--blanco);
    cursor: pointer;
    border-radius: 5px;
}
